<!DOCTYPE html>
<html>
<head>
	<title>What's On Tap?</title>
	<link rel="stylesheet" href="/stylesheets/reset.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/javascripts/client.js" ></script>
	<script type="text/javascript" src="/javascripts/auth.js" ></script>
	<script type="text/javascript" src="/javascripts/home.js" ></script> 
	<script type="text/javascript" src="/javascripts/signup.js" ></script>
	<script type="text/javascript" src="/javascripts/login.js" ></script> 
	<script type="text/javascript" src="/javascripts/navbar.js" ></script> 
	<script type="text/javascript" src="/javascripts/script.js" ></script>
</head>
<body ng-app="whatsOnTap">
	<navbar></navbar>
	<div ui-view>
	</div>
	<footer>
		<p class="footer-para">Copyright 2016</p>
	</footer>
</body>
</html>
