body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	display: flex;
	flex-direction: column;
	color:#fff;
}

a {
	color: white;
	text-decoration: none;
}

button:focus {
	outline: 0;
}

input {
	font-size: 30px;
	color: #ffc044;
	border-radius: 20px;
	text-indent: 20px;
	text-indent-right: 40px;
	width: 100%;
	border: 2px solid #fff;
}

input:focus {
	outline: 0;
}

::-webkit-input-placeholder {
	color: #fff;
}

:-moz-placeholder {
	color: #fff;  
}

::-moz-placeholder {
	color: #fff;  
}

:-ms-input-placeholder {  
	color: #fff;  
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*height: 40px;*/
	background-color: #C5C5c5;
}

.app-name {
	margin-right: auto;
	padding: 15px 20px;
}

.nav-link {
	/*margin-right: 40px;*/
	padding: 15px 20px;
}

.nav-link:hover {
	/*text-decoration: underline;*/
	background-color: white;
	color: #c5c5c5;
}

main {
	background: linear-gradient(to bottom, #ffc044, #fc9014);
	color: #fff;
}

.search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 20px 0;
}

.search-title {
	font-size: 25px;
	display: inline-block;
	padding: 20px 0;
}

#search-bar {
	position: relative;
	display: inline-block;
	width: 55%;
	transition: 1s;
}

#search-icon {
	position: absolute;
	/*top: 10px;*/
	right: 10px;
	color: #ffc044;
	margin: 0;
	/*font-size: 30px;*/
}

.bar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.nav-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #fff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.button-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.btn {
	border: 3px solid #fff;
	border-radius: 40px;
	margin: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.anim {
	animation: button-anim 0.75s forwards;
}

.main-button {
	height: 75px;
	width: 80%;
	justify-content: space-between;
}

#new-bar-button {
	height: 40px;
	width: 200px;
	justify-content: center;
}

.button-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 40px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	margin: 10px;
}

footer {
	height: 40px;
	background-color: #C5C5C5;
}

.footer-para {
	text-align: right;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form-part {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	padding: 20px 0;
}

.form-label {
	font-size: 20px;
	margin-right: 20px;
}

.bar-data {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.bar-name {
	font-size: 25px;
}

.add-remove-beer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.beer-button {
	width: 70%;
	height: 40px;
	justify-content: center;
}

@keyframes button-anim {
	0% {
		background: rgba(255,255,255,0);
	}
	50% {
		background: rgba(255,255,255,.4);
	}
	100% {
		background: rgba(255,255,255,0);
	}
}

@media (min-width: 650px) {
	.main-button {
		width: 40%;
	}

	.new-bar-button {
		width: 30%;
	}

	.search-title {
		display: none;
	}

	::-webkit-input-placeholder {
   		color: #ffe084;
	}

	:-moz-placeholder {
		color: #ffc044;  
	}

	::-moz-placeholder {
		color: #ffc044;  
	}

	:-ms-input-placeholder {  
		color: #ffc044;  
	}

	.form-part {
		width: 60%;
	}

	.add-remove-beer {
		flex-direction: row;
	}

	.beer-button {
		width: 40%;
	}
}